# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints

log
tmp/*_TMP.png
report

# APK
.gradle
library/android/apk/*/local.properties
library/android/apk/*/gradle.properties
library/android/apk/*/.idea/workspace.xml
library/android/apk/*/.idea/libraries
library/android/apk/*/.DS_Store
library/android/apk/*/captures
library/android/apk/*/.idea/workspace.xml
library/android/apk/*/.idea/tasks.xml
library/android/apk/*/.idea/libraries/
library/android/apk/*/.gradle

# JAR
library/*.ap_
library/*.dex
library/*.class
# library/android/jar/*/bin/
library/android/jar/*/gen/
library/android/jar/*/local.properties
library/android/jar/*/gradle.properties
library/android/jar/*/.classpath
library/android/jar/*/.project
library/android/jar/*/proguard/
*.iml
*.ipr
*.iws
*.class
*.dex
*.dex.d
library/android/jar/*/.idea/workspace.xml
library/android/jar/*/.idea/tasks.xml
library/android/jar/*/.idea/libraries/
library/android/jar/*/.gradle
library/android/jar/*/build
